In [138]:
import pandas as pd
import numpy as np

## Load Data

In [139]:
IDS_MAPPING_FN = "./data/IDS_mapping.csv"
DIABETIC_FN = "./data/diabetic_data.csv"

In [140]:
# read files
mapping = pd.read_csv(IDS_MAPPING_FN, header=None)
df = pd.read_csv(DIABETIC_FN)
print(df.shape)

(101766, 50)

Create dictionary of code-value mappings of `admission_type_id`, `discharge_disposition_id`, and `admission_source_id` using the mapping provided in the data-folder.

In [141]:
admission_type_dict = {}
discharge_disposition_dict = {}
admission_source_dict = {}

list1 = []
for i, j in zip(mapping[0].values, mapping[1].values):
  if len(str(i))>3:
    feature_name = i
  elif len(str(i))!=3:
    if feature_name == 'admission_type_id':
      admission_type_dict[int(i)] = j
    elif feature_name == 'discharge_disposition_id':
      discharge_disposition_dict[int(i)] = j
    elif feature_name == 'admission_source_id':
      admission_source_dict[int(i)] = j

Create columns in dataframe with where the codes are mapped to the values

In [142]:
df['admission_type'] = df['admission_type_id'].map(admission_type_dict).astype("O")
df['discharge_disposition'] = df['discharge_disposition_id'].map(discharge_disposition_dict).astype("O")
df['admission_source'] = df['admission_source_id'].map(admission_source_dict).astype("O")

## Explore Dataset

In [143]:
print(f"Number of unique encounters: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

Number of unique encounters: 101766
Number of columns: 53

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
 50  admission_type            96475 non-null   object
 51  discharge_disposition     98075 non-null   object
 52  admission_source          94985 non-null   object
dtypes: int64(13), object(40)
memory usage: 41.2+ MB

In [145]:
for column in df.select_dtypes(include = ['O']).columns:
  if column == "diag_1" or column=="diag_2":
    print(df[df[column]=='250'].shape) # diabetic as diagnosis 1 or 2
  print('===========================')
  print(f'Column name: {column}')
  print('===========================')
  print(df[column].value_counts(dropna=False))
  print()

===========================
Column name: race
===========================
race
Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: count, dtype: int64

===========================
Column name: gender
===========================
gender
Female             54708
Male               47055
Unknown/Invalid        3
Name: count, dtype: int64

===========================
Column name: age
===========================
age
[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: count, dtype: int64

===========================
Column name: weight
===========================
weight
?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: count, dtype: int64

===========================
Column name: payer_code
===========================
payer_code
?     40256
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: count, dtype: int64

===========================
Column name: medical_specialty
===========================
medical_specialty
?                                49949
InternalMedicine                 14635
Emergency/Trauma                  7565
Family/GeneralPractice            7440
Cardiology                        5352
                                 ...
SportsMedicine                       1
Speech                               1
Perinatology                         1
Neurophysiology                      1
Pediatrics-InfectiousDiseases        1
Name: count, Length: 73, dtype: int64

(235, 53)
===========================
Column name: diag_1
===========================
diag_1
428    6862
414    6581
786    4016
410    3614
486    3508
       ...
373       1
314       1
684       1
217       1
V51       1
Name: count, Length: 717, dtype: int64

(6071, 53)
===========================
Column name: diag_2
===========================
diag_2
276     6752
428     6662
250     6071
427     5036
401     3736
        ...
E918       1
46         1
V13        1
E850       1
927        1
Name: count, Length: 749, dtype: int64

===========================
Column name: diag_3
===========================
diag_3
250     11555
401      8289
276      5175
428      4577
427      3955
        ...
657         1
684         1
603         1
E826        1
971         1
Name: count, Length: 790, dtype: int64

===========================
Column name: max_glu_serum
===========================
max_glu_serum
NaN     96420
Norm     2597
>200     1485
>300     1264
Name: count, dtype: int64

===========================
Column name: A1Cresult
===========================
A1Cresult
NaN     84748
>8       8216
Norm     4990
>7       3812
Name: count, dtype: int64

===========================
Column name: metformin
===========================
metformin
No        81778
Steady    18346
Up         1067
Down        575
Name: count, dtype: int64

===========================
Column name: repaglinide
===========================
repaglinide
No        100227
Steady      1384
Up           110
Down          45
Name: count, dtype: int64

===========================
Column name: nateglinide
===========================
nateglinide
No        101063
Steady       668
Up            24
Down          11
Name: count, dtype: int64

===========================
Column name: chlorpropamide
===========================
chlorpropamide
No        101680
Steady        79
Up             6
Down           1
Name: count, dtype: int64

===========================
Column name: glimepiride
===========================
glimepiride
No        96575
Steady     4670
Up          327
Down        194
Name: count, dtype: int64

===========================
Column name: acetohexamide
===========================
acetohexamide
No        101765
Steady         1
Name: count, dtype: int64

===========================
Column name: glipizide
===========================
glipizide
No        89080
Steady    11356
Up          770
Down        560
Name: count, dtype: int64

===========================
Column name: glyburide
===========================
glyburide
No        91116
Steady     9274
Up          812
Down        564
Name: count, dtype: int64

===========================
Column name: tolbutamide
===========================
tolbutamide
No        101743
Steady        23
Name: count, dtype: int64

===========================
Column name: pioglitazone
===========================
pioglitazone
No        94438
Steady     6976
Up          234
Down        118
Name: count, dtype: int64

===========================
Column name: rosiglitazone
===========================
rosiglitazone
No        95401
Steady     6100
Up          178
Down         87
Name: count, dtype: int64

===========================
Column name: acarbose
===========================
acarbose
No        101458
Steady       295
Up            10
Down           3
Name: count, dtype: int64

===========================
Column name: miglitol
===========================
miglitol
No        101728
Steady        31
Down           5
Up             2
Name: count, dtype: int64

===========================
Column name: troglitazone
===========================
troglitazone
No        101763
Steady         3
Name: count, dtype: int64

===========================
Column name: tolazamide
===========================
tolazamide
No        101727
Steady        38
Up             1
Name: count, dtype: int64

===========================
Column name: examide
===========================
examide
No    101766
Name: count, dtype: int64

===========================
Column name: citoglipton
===========================
citoglipton
No    101766
Name: count, dtype: int64

===========================
Column name: insulin
===========================
insulin
No        47383
Steady    30849
Down      12218
Up        11316
Name: count, dtype: int64

===========================
Column name: glyburide-metformin
===========================
glyburide-metformin
No        101060
Steady       692
Up             8
Down           6
Name: count, dtype: int64

===========================
Column name: glipizide-metformin
===========================
glipizide-metformin
No        101753
Steady        13
Name: count, dtype: int64

===========================
Column name: glimepiride-pioglitazone
===========================
glimepiride-pioglitazone
No        101765
Steady         1
Name: count, dtype: int64

===========================
Column name: metformin-rosiglitazone
===========================
metformin-rosiglitazone
No        101764
Steady         2
Name: count, dtype: int64

===========================
Column name: metformin-pioglitazone
===========================
metformin-pioglitazone
No        101765
Steady         1
Name: count, dtype: int64

===========================
Column name: change
===========================
change
No    54755
Ch    47011
Name: count, dtype: int64

===========================
Column name: diabetesMed
===========================
diabetesMed
Yes    78363
No     23403
Name: count, dtype: int64

===========================
Column name: readmitted
===========================
readmitted
NO     54864
>30    35545
<30    11357
Name: count, dtype: int64

===========================
Column name: admission_type
===========================
admission_type
Emergency        53990
Elective         18869
Urgent           18480
NaN               5291
Not Available     4785
Not Mapped         320
Trauma Center       21
Newborn             10
Name: count, dtype: int64

===========================
Column name: discharge_disposition
===========================
discharge_disposition
Discharged to home                                                                                           60234
Discharged/transferred to SNF                                                                                13954
Discharged/transferred to home with home health service                                                      12902
NaN                                                                                                           3691
Discharged/transferred to another short term hospital                                                         2128
Discharged/transferred to another rehab fac including rehab units of a hospital .                             1993
Expired                                                                                                       1642
Discharged/transferred to another type of inpatient care institution                                          1184
Not Mapped                                                                                                     989
Discharged/transferred to ICF                                                                                  815
Left AMA                                                                                                       623
Discharged/transferred to a long term care hospital.                                                           412
Hospice / home                                                                                                 399
Hospice / medical facility                                                                                     372
Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital      139
Discharged/transferred to home under care of Home IV provider                                                  108
Discharged/transferred within this institution to Medicare approved swing bed                                   63
Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.         48
Admitted as an inpatient to this hospital                                                                       21
Discharged/transferred/referred to this institution for outpatient services                                     14
Discharged/transferred/referred another institution for outpatient services                                     11
Expired at home. Medicaid only, hospice.                                                                         8
Neonate discharged to another hospital for neonatal aftercare                                                    6
Discharged/transferred to a federal health care facility.                                                        5
Still patient or expected to return for outpatient services                                                      3
Expired in a medical facility. Medicaid only, hospice.                                                           2
Name: count, dtype: int64

===========================
Column name: admission_source
===========================
admission_source
 Emergency Room                                               57494
 Physician Referral                                           29565
NaN                                                            6781
Transfer from a hospital                                       3187
 Transfer from another health care facility                    2264
Clinic Referral                                                1104
 Transfer from a Skilled Nursing Facility (SNF)                 855
HMO Referral                                                    187
 Not Mapped                                                     161
 Not Available                                                  125
 Court/Law Enforcement                                           16
 Transfer from hospital inpt/same fac reslt in a sep claim       12
 Transfer from critial access hospital                            8
 Extramural Birth                                                 2
Normal Delivery                                                   2
 Transfer from Ambulatory Surgery Center                          2
 Sick Baby                                                        1
Name: count, dtype: int64

In [146]:
for column in df.select_dtypes(include = ['int64']).columns:
  if column == "diag_1" or column=="diag_2":
    print(df[df[column]=='250'].shape) # diabetic as diagnosis 1 or 2
  print('===========================')
  print(f'Column name: {column}')
  print('===========================')
  print(df[column].value_counts(dropna=False))
  print()

===========================
Column name: encounter_id
===========================
encounter_id
2278392      1
190792044    1
190790070    1
190789722    1
190786806    1
            ..
106665324    1
106657776    1
106644876    1
106644474    1
443867222    1
Name: count, Length: 101766, dtype: int64

===========================
Column name: patient_nbr
===========================
patient_nbr
88785891     40
43140906     28
1660293      23
88227540     23
23199021     23
             ..
11005362      1
98252496      1
1019673       1
13396320      1
175429310     1
Name: count, Length: 71518, dtype: int64

===========================
Column name: admission_type_id
===========================
admission_type_id
1    53990
3    18869
2    18480
6     5291
5     4785
8      320
7       21
4       10
Name: count, dtype: int64

===========================
Column name: discharge_disposition_id
===========================
discharge_disposition_id
1     60234
3     13954
6     12902
18     3691
2      2128
22     1993
11     1642
5      1184
25      989
4       815
7       623
23      412
13      399
14      372
28      139
8       108
15       63
24       48
9        21
17       14
16       11
19        8
10        6
27        5
12        3
20        2
Name: count, dtype: int64

===========================
Column name: admission_source_id
===========================
admission_source_id
7     57494
1     29565
17     6781
4      3187
6      2264
2      1104
5       855
3       187
20      161
9       125
8        16
22       12
10        8
14        2
11        2
25        2
13        1
Name: count, dtype: int64

===========================
Column name: time_in_hospital
===========================
time_in_hospital
3     17756
2     17224
1     14208
4     13924
5      9966
6      7539
7      5859
8      4391
9      3002
10     2342
11     1855
12     1448
13     1210
14     1042
Name: count, dtype: int64

===========================
Column name: num_lab_procedures
===========================
num_lab_procedures
1      3208
43     2804
44     2496
45     2376
38     2213
       ...
120       1
132       1
121       1
126       1
118       1
Name: count, Length: 118, dtype: int64

===========================
Column name: num_procedures
===========================
num_procedures
0    46652
1    20742
2    12717
3     9443
6     4954
4     4180
5     3078
Name: count, dtype: int64

===========================
Column name: num_medications
===========================
num_medications
13    6086
12    6004
11    5795
15    5792
14    5707
      ...
70       2
75       2
81       1
79       1
74       1
Name: count, Length: 75, dtype: int64

===========================
Column name: number_outpatient
===========================
number_outpatient
0     85027
1      8547
2      3594
3      2042
4      1099
5       533
6       303
7       155
8        98
9        83
10       57
11       42
13       31
12       30
14       28
15       20
16       15
17        8
21        7
20        7
18        5
22        5
19        3
27        3
24        3
26        2
23        2
25        2
33        2
35        2
36        2
29        2
34        1
39        1
42        1
28        1
37        1
38        1
40        1
Name: count, dtype: int64

===========================
Column name: number_emergency
===========================
number_emergency
0     90383
1      7677
2      2042
3       725
4       374
5       192
6        94
7        73
8        50
10       34
9        33
11       23
13       12
12       10
22        6
16        5
18        5
19        4
20        4
15        3
14        3
25        2
21        2
28        1
42        1
46        1
76        1
37        1
64        1
63        1
54        1
24        1
29        1
Name: count, dtype: int64

===========================
Column name: number_inpatient
===========================
number_inpatient
0     67630
1     19521
2      7566
3      3411
4      1622
5       812
6       480
7       268
8       151
9       111
10       61
11       49
12       34
13       20
14       10
15        9
16        6
19        2
17        1
21        1
18        1
Name: count, dtype: int64

===========================
Column name: number_diagnoses
===========================
number_diagnoses
9     49474
5     11393
8     10616
7     10393
6     10161
4      5537
3      2835
2      1023
1       219
16       45
10       17
13       16
11       11
15       10
12        9
14        7
Name: count, dtype: int64

## Preprocessing

As seen above some patients have many encounters (up to 40).

We only keep the first observation for each unique patient.

In [147]:
df = df.groupby("patient_nbr").agg('first')
print(f"Number of unique encounters after only keeping first encounter for each patient: {df.shape[0]}")

Number of unique encounters after only keeping first encounter for each patient: 71518

We only keep observations with `admission_type` Emergency, Urgent or Elective.

In [148]:
df = df[df['admission_type'].isin(['Emergency', 'Urgent', 'Elective'])]
print(f"Number of unique encounters: {df.shape[0]}")

Number of unique encounters: 63757

Make flags variables indicating whether a `max_glu_serum`, and a `AC1result` test was done.

In [150]:
df['max_glu_serum_flag'] = df['max_glu_serum'].notnull().astype(int)
df['A1C_flag'] = df['A1Cresult'].notnull().astype(int)

Make a binary variable for readmission, which indicates whether the patient was readmitted before 30 days.

In [151]:
df['readmitted_flag'] = np.where(df['readmitted']=='<30', 1, 0)

Make a binary flag variable indicating whether any of the medicines had the value *Up* or *Down*.

In [152]:
medicine_columns = df.columns[23:46].tolist()
df['change_dosage'] = df[medicine_columns].isin(['Up', 'Down']).any(axis=1).astype(int)

The column `change` indicates if there was a change in diabetic medications (either dosage or generic name). So if `change` is marked as changed but `change_dosage` is none, then there must have been a change in the generic name, i.e. the chemical name of a medicine.

In [161]:
df['change_medicine'] = np.where((df['change'] == 'Ch') & (df['change_dosage'] == 0), 1, 0)

In [179]:
#Problem here
print(f"{df['change_medicine'].value_counts()[1] + df['change_medicine'].value_counts()[1]}") 
print(f"{df['change'].value_counts()[1]}")

26030
28660

C:\Users\ah140\AppData\Local\Temp\ipykernel_15132\2180488237.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df['change'].value_counts()[1]}")

## Define variables

In [186]:
feature_names = ["time_in_hospital", "admission_type", "num_lab_procedures", "num_procedures", "num_medications", 
                     "number_outpatient", "number_inpatient", "number_emergency", "number_diagnoses", "diabetesMed", "insurance", 'max_glu_serum_flag', 'A1C_flag', 'change_dosage', 'change_medicine', 'diabetesMed']

In [185]:
target_name = ["readmitted_flag"]

In [187]:
protected_names = ['age', 'race', 'gender']

## EDA